<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Création d'une voiture</title>
    <link rel="stylesheet" href="../css/bootstrap.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" crossorigin="anonymous" />
</head>

<body>
<div class="container bg-light p-3 rounded">
        <h1>Création d'une voiture</h1>
        <p><a href="/">Retour à l'accueil</a></p>

    <form action="#" th:action="@{/voiture/creer}" th:object="${voiture}" method="post">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" th:field="*{nom}" />
        </div>
        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" class="form-control" id="prenom" th:field="*{prenom}" />
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" />
        </div>
        <div class="form-group">
            <label for="telephone">Téléphone :</label>
            <input type="tel" class="form-control" id="telephone" th:field="*{telephone}" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Valider</button>
    </form>
    </div>
</body>

</html>